h1 {	
color:black;
-webkit-text-stroke: 1px yellow;
font-family: Georgia, serif;
font-size: 55px;
}

table, th, tr, td {
	border:2px solid yellow;
	border-collapse:collapse;
	color:white;
		font-family: cursive;
		background-color:black;
		
}
th {
	font-size:25px;
}

body {
	background-image: url('image/KNY.jpg');
 background-repeat: no-repeat;
 background-size: cover;
 background-attachment: fixed;
	font-family: system-ui;
}
p {
	color:white;
	font-size: 20px;
}
.satori1 {
	float: right; padding-right:15px;
	width: 10%;
	height:25%;
	position: fill;
}
.satori2 {
	display:block;
	margin-left: auto;
	margin-right: auto;
	width: 400px;
	height: 400px;
}
h2 {	
color:black;
-webkit-text-stroke: 1px yellow;
font-family: Georgia, serif;
font-size: 30px;
}
tr, td {
	font-size:18px;

}

.highlight-word-color1 {
	color:yellow;
}
.highlight-word-color2 {
	color:purple;
}
.highlight-word-color3 {
	color:red;
}
.highlight-word-color4 {
	color:orange;
}
.highlight-word-color5 {
	color:gray;
}
.highlight-word-color6 {
	color:lime;
}
.container1 {
	position: fit;
	width:100%;
	color:white;
	padding-bottom:100px;
	padding-top:10px;
	border:5px solid yellow;
	border-radius: 30px;
	background-color:black;
	padding-left:5px;
	font-size: 20px;
	display: block;
	padding-right: -2px;
}
.container2 {
	position: fit;
	width:100%;
	color:white;
	padding-bottom:10px;
	padding-top:10px;
	border:5px solid yellow;
	border-radius: 30px;
	background-color:black;
	font-size: 20px;
	padding-left:5px;
	padding-right: 5px;
	display: block
}
.marquee {
	background-color:black;
	border: 3px solid yellow;
	width: 100%;
	color: white;
	font-size:30px;
}
.span {
	color: yellow;
	font-size: 15px;
}
hr {
	width: 50%;
	color: black;